body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.calculator {
    background: #000000;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}
.display {
    width: 95%;
    height: 50px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
    color: #f4f4f4;
    border:rgb(73, 70, 70);
    border-radius: 5px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.button {
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.button.number {
    background: #413e3e;
    color: #fff;
}
.button.operator {
    background: #ff6334;
    color: #fff;
}
.button.equal{
    grid-column: span 2;
    background: #ff6334;
    color: #fff;
    font-size: 1.5rem;
}
.button.equal.button:hover{
    opacity: 0.9;
}
.button.more {
    background: #4caf50;
    color: #fff;
}
.button:hover {
    opacity: 0.9;
}
.more-buttons {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}